.allWatches{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  
}

  .loadingOverlay {
    position: absolute; /* קביעת מיקום אבסולוטי */
    bottom: 0; /* מצביע על תחילת התיבה מלמטה */
    left: 50%; /* מצביע על מרכז התיבה בציר האופקי */
    transform: translateX(-50%); /* מנקה את הסיבוב של התיבה לכונן המרכזי */
    /* רקע חלק */
    padding: 20px; /* רווח פנימי */
    /* border-radius: 8px;  */
    /* חיתוך של הקצוות */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
    /* צל מעט */
    z-index: 1; /* כדי שהקונטנר יהיה מעל ל-CircularProgress */
  }
  